*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
	font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
	background-color: white;
	width: 100vw;
    overflow-x: hidden;
    color: #953F73;
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    border-bottom: 1px solid #953F73;
    display: inline-block;
    padding-left: 50px;
    padding-right: 50px;
}

h2, h3 {
	font-size: 1.5rem;
	font-weight: 700;
	padding-bottom: 4px;
}

h4{
	font-size: 12px;
	text-decoration: none;
}

a{
	color: #953F73;
	text-decoration: none;
}

p {
	font-size: 10px;
	font-weight: 200;
	margin-top: 0;
    margin-bottom: 1rem
}

img {
    vertical-align: middle
}

button {
	border: 1px solid #953F73;
	border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	text-transform: none;
	background-color: transparent;
	color: #953F73;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 2px;
	width: 35%;
}

main {
	padding: 4%;
	padding-top: 20px;
}

/*Classes*/

.navbar{
    position: sticky;
    top: 0;
    z-index: 1020;
	padding-top: .25rem !important;
    padding-bottom: .25rem !important;
	--bs-light-rgb: 248, 249, 250;
	--bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.navbar__container{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
	display: flex !important;
	flex-direction: column !important;
	flex-direction: row !important;
	justify-content: center !important;
}

.navbar__container-item{
	padding: .5rem !important;
	display: none !important;
}

.banner{
	display: flex !important;
	justify-content: center !important;
	flex-direction: column !important;
	text-align: center !important;
	background-image: url(../resources/img/banner.jpg);
    background-position: 25% 15%;
    height: 300px;
    width: 100%;
    margin-top: 7px;
    border-top: 1px solid #953F73;
    border-bottom: 1px solid #953F73;
    padding-top: 50px;
    padding-bottom: 50px;
}

.banner__frame{
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	padding-top: 6.3rem;
	padding-bottom: 6.3rem;
}

.banner__title{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
	margin-top: 0;
	padding: 1rem !important;
}

.wrapper{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
	justify-content: center !important;
	padding-top: 1rem !important;
}

.wrapper__link{
	flex: 0 0 auto;
    width: 25%;
	text-align: center !important;
}

.back-button{
	border: 1px solid #953F73;
	border-radius: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
	text-transform: none;
	background-color: transparent;
	color: #953F73;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 2px;
	width: 10%;
}

/*----------RESPONSIVE----------*/

@media (min-width:100px){
	
	.pages__link-img {
		width: 40%;
	  }
	  
	.phases__vline{
		  
	  }
}

@media (min-width:576px) {

    .navbar__container,
	.pages{
        max-width: 540px
    }
	
	 .pages__link-img {
		width: 50%;
	  }

	.phases__vline{
	  }
	
}

@media (min-width:768px) {

    .navbar__container,
	.pages{
        max-width: 720px
    }
	.navbar__container-item{
		display: inline-block !important
	}
	
	.pages__link-img{
		width: 100%;
	}

	.pages__link {
		flex-direction: column;
		justify-content: left;
		text-align: left;
	  }
	  
	 .pages__link-img {
		width: 40%;
	  }

	.phases__vline{
		
	}

	.vr.vr-mid{
		padding-bottom: 30%;
	}

	.vr.vr-last{
		padding-bottom: 30%;
	}
	
}

@media (min-width:992px) {

    .navbar__container,
	.pages{
        max-width: 960px
    }
	
	.pages__link-img {
		width: 70%;
	  }
	
}

@media (min-width:1200px) {

    .navbar__container,
	.pages{
        max-width: 1140px
    }
	
	.pages__link-img {
		width: 70%;
	  }
}

@media (min-width:1400px) {

    .navbar__container,
	.pages{
        max-width: 1320px
    }
}
